.dark {
  background-image: url("https://cdn.wallpapersafari.com/37/84/OlGR8c.jpg");
  background-size: contain;
  background-blend-mode: multiply;
  background-color: rgba(1, 0, 3, 0.493);
  color: aliceblue;
}
.light {
  background-image: url("https://img.freepik.com/premium-photo/white-bitcoin-cryptocurrency-coin-against-grey-background-d-rendering_601748-3477.jpg");
  background-size: contain;
  background-color: rgba(255, 250, 250, 0.705);
  background-blend-mode: multiply;
  color: black;
}
